﻿@{
    ViewBag.Title = "Ryoko Home";
}

<main>
    <section>
        <h3>Welcome to Ryoko.</h3>
        <p>
            Ryoko is the future of expense tracking and reporting. With seemless integration into any current business
            solution, the power of Ryoko will increase your business productivity by 200%. Built upon bleeding edge technology,
            you business will turn travel into Ryoko.
        </p>
    </section>
</main>